# Игнорируем папки с кэшем Python
__pycache__/
*.pyc

# Игнорируем виртуальное окружение
.venv/
venv/

# Игнорируем локальный файл с паролями и настройками
config/.env

# Игнорируем папку с большими файлами данных
data/

# Системный мусор для разных ОС
.DS_Store
Thumbs.db